@font-face {
    font-family: "OngleapGeumhyangche";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleapGeumhyangche/OngleapGeumhyangche.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleapGeumhyangche/OngleapGeumhyangche.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleapGeumhyangche/OngleapGeumhyangche.ttf") format("truetype");
    font-display: swap;
}

.OngleapGeumhyangche {
    font-family: "OngleapGeumhyangche";
}
